/* Header */
#navBar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.navLink {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  color: aliceblue;
}

.navLink:hover {
  font-size: 16px;
}


/* Name & Title */
h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  font-size: 50px;
  margin: auto;
  text-align: center;
}

span.sE {
  font-size: 30px;
}

h1 {
  background-image: url("../img/backgroundImg.jpg");
  background-color: rgb(82, 126, 167);
  background-position: center;
  background-size: cover;
}


/* About */
a.aboutSection {
  display: block;
  text-align: center;
}

.aboutP {
  text-align: center;
  border-style: dotted;
  border-color: brown;
}


/* Skills */
a.skillsSection {
  display: block;
  font-style: italic;
  font-size: larger;
  text-align: center;
}

li.skillsForm {
  display: inline-block;
  margin: 2px;
  padding: 5px;
  text-align: center;
  background-color: rgb(251, 238, 238);
}
li.skillsForm img {
  display: block;

}


/* Project */
.projectsSection{
  display: block;
  text-align: center;
}
p.projectBorder {
  text-indent: 30px;
}

.projectBorder {
  border: 0.5rem solid brown;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

.projectImg {
  float: left;
  max-width: 400px;
  max-height: 400px;
}

/* Contact */


/* Footer */
img.icons {
  height: 40px;
}

.icons {
  display: flex;
  justify-content: center;
}

.nameCE {
  display: flex;
  justify-content: center;
}

/* Repeated Code */
li {
  list-style-type: none;
  /* text-align: center; */
}